<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="We have a crazy passion for baking and decorating sugar cookies! You bring us a theme, and our creativity will bring it to life in cookies!!! Lori &amp Arlene">
    <meta name="author" content="Artem Nikitin | Domik Consulting">
  <link rel="shortcut icon" href="<%= image_tag 'favicon.ico'%>" />
  <link href='http://fonts.googleapis.com/css?family=Parisienne' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Comfortaa:400,700' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <script>
      function detectmob() {
        if(window.innerWidth <= 800) {
          return true;
        } else {
          return false;
        }
      }
      if(!detectmob()){
        $(document).ready(function(){

          var $windows = $('.page');

          $windows.windows({
            snapping: true,
            scrollSpeed: 300,
            scrollDelay: 700,
            onScroll: function(s) {},
            onSnapComplete: function($el) {},
            onWindowEnter: function($el) {}
          });

        });
      }

      
     $.scrollTo( "#contacts" );

    </script>

  <!-- ============== NAVBAR ============== -->

    <nav class="navbar navbar-fixed-top navbar-custom">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand hidden-xs" href="#">
            <%= image_tag 'logo.png', :id => 'lglogo'%>
          </a>
          <a class="navbar-brand visible-xs" href="#">
            <%= image_tag 'logo.png', :id => 'smlogo'%>
          </a>
          <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
            <span class = "icon-bar"></span>
            <span class = "icon-bar"></span>
            <span class = "icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="collapse navbar-collapse navHeaderCollapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#intro">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#gallery">Gallery</a></li>
            <li><a href="#testimonials">Testimonials</a></li>
            <li><a href="#pricing">Pricing</a></li>
            <li><a href="#contacts">Contact Us</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>



    <!-- ============== INTRO ============== -->

    

    <div id="intro" class="page intro">
      <a name="home"></a>
      <div class="container">
        <div class="slogan">
          <div class="slogan wow fadeIn" data-wow-delay="1s">Welcome to our Kitchen</div>
        </div>
      </div>
    </div>

    <!-- ============== SOCIAL ============== -->

    <div id="socialbar" class="hidden wow">
      <div class="socico">
        <a class="btn btn-lg btn-social-icon btn-facebook" href="https://www.facebook.com/pages/Sweet-Divas-Cookies/838768736156106" target="_blank">
          <i class="fa fa-facebook"></i>
        </a>
      </div>
      <div class="socico">
        <a class="btn btn-lg btn-social-icon btn-instagram" href="https://www.instagram.com/sweetdivascookies" target="_blank">
          <i class="fa fa-instagram"></i>
        </a>
      </div>
    </div>

<!-- ============== ABOUT ============== -->

<div id="1" class="page container" style="margin-top: 240px;">
  <a name="about"></a>
  <h1>About</h1>
  <div id ="about" class="row">
    <div class="lead">
      We have a crazy passion for baking and decorating sugar cookies! You bring us a theme, and our creativity will bring it to life in cookies!!! - Arlene &amp Lori
    </div>
    <div class="wow bounceInDown" data-wow-delay="0.6s">
      <%= image_tag 'Lori_Arlene.jpeg', :class => 'aboutimg img-circle'%>
    </div>
  </div>
</div>

<!-- ============== GALLERY ============== -->


<div id="2" class="page container">
  <a name="gallery"></a>
  <h1>Gallery</h1>
  <div id ="gallery" class="row">
    <div class="col-sm-2 gut">
      <a role="button" href="gallery/#corporate">
        <h3>Corporate</h3>
        <%= image_tag 'Gallery/Avatars/corporate.jpg', :class => 'avatar img-circle'%>
      </a>
    </div>
    
    <div class="col-sm-2 gut">
      <a role="button" href="gallery/#themes">
        <h3>Events &amp Themes</h3>
        <%= image_tag 'Gallery/Avatars/themes.jpg', :class => 'avatar img-circle'%>
      </a>
    </div>
    
    <div class="col-sm-2 gut">
      <a role="button" href="gallery/#holidays">
        <h3>Holidays &amp Seasons</h3>
        <%= image_tag 'Gallery/Avatars/holidays.jpg', :class => 'avatar img-circle'%>
      </a>
    </div>
    
    <div class="col-sm-2 gut">
      <a role="button" href="gallery/#sports">
        <h3>Sports</h3>
        <%= image_tag 'Gallery/Avatars/sports.jpg', :class => 'avatar img-circle'%>
      </a>
    </div>
    
    <div class="col-sm-2 gut">
      <a role="button" href="gallery/#dogtreats">
        <h3>Dog Treats</h3>
        <%= image_tag 'Gallery/Avatars/dogtreats.jpg', :class => 'avatar img-circle'%>
      </a>
    </div>
  </div>
</div>

<!-- ============== TESTIMONIALS ============== -->


<div id="3" class="page container">
  <a name="testimonials"></a>
  <h1>Feedback from the Cookie Monsters</h1>
    <div id="testimonials">
      <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                
        <!-- Carousel Slides / Quotes -->
        <div class="carousel-inner">
        
          <!-- Quote 1 -->
          <div class="item active">
            <div lass="row">
              <blockquote class="col-sm-offset-1 col-sm-10">
                <p>I ordered cookies for my husband's birthday and a work event. The designs are so creative and they taste even better!</p>
                <p><small>Rochelle</small></p>
              </blockquote>
            </div>
          </div>
          <!-- Quote 2 -->
          <div class="item">
            <div class="row">
              <blockquote class="col-sm-offset-1 col-sm-10">
                <p>Shipped to California, all arrived in perfect shape. . .thank you Sweet Divas</p>
      
              </blockquote>
            </div>
          </div>
          <!-- Quote 3 -->
          <div class="item">
            <div class="row">
              <blockquote class="col-sm-offset-1 col-sm-10">
                <p>Works of art you can eat!</p>
                
              </blockquote>
            </div>
          </div>
          <!-- Quote 4 -->
          <div class="item">
            <div class="row">
              <blockquote class="col-sm-offset-1 col-sm-10">
                <p>The best cookie for any occasion</p>
                
              </blockquote>
            </div>
          </div>
          <!-- Quote 5 -->
          <div class="item">
            <div class="row">
              <blockquote class="col-sm-offset-1 col-sm-10">
                <p>Sweet Divas cookies are the best addition to any party, let them know your theme and they will create cookies that everyone will be talking about!</p>
                
              </blockquote>
            </div>
          </div>
          <!-- Quote 6 -->
          <div class="item">
            <div class="row">
              <blockquote class="col-sm-offset-1 col-sm-10">
                <p>...and they taste yummy too!</p>
              </blockquote>
            </div>
          </div>
          <!-- Quote 7 -->
          <div class="item">
            <div class="row">
              <blockquote class="col-sm-offset-1 col-sm-10">
                <p>I met Lori when we worked with each other at a scrapbook store. Being friends with her on Facebook and seeing her posts of the cookies that her and her friend made were so 
                professional and cute. I am so glad that they have now created a company for their delicious cookies.  I purchased cookies for a scrapbook weekend to share. They turned out 
                so cute and in the colors I love. They were so good and everyone loved them, which I had to purchase more for Christmas and Valentine’s Day as well. I am so grateful that Lori 
                lives close enough that it is so easy for me to order from her and we can meet. I have another scrapbook weekend coming up, I will have to order more. Thanks Lori.</p>
                <p><small>Karen</small></p>
              </blockquote>
            </div>
          </div>
          <!-- Quote 8 -->
          
        </div>
        
        <!-- Carousel Buttons Next/Prev -->
        <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
        <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>                          
    </div>
  </div>  
</div>

<!-- ============== PRICING ============== -->


<div id="4" class="page container">
  <a name="pricing"></a>
  <h1>Pricing</h1>
  <div id="pricing" class="row">
    <div class="col-sm-4 wow bounceInDown" data-wow-delay="0.2s">
      <div class="text-center">
        <h2>Pricing.</h2>
      </div>
      <div class="lead">
        Cookies start at $2 each. For a larger and more complex cookie, there will be an additional charge. Message us and let us know what you're looking for and we can help give you ideas for your theme and can give you a better idea on what the pricing will be!
      </div>
    </div>
    <div class="col-sm-4 wow bounceInDown" data-wow-delay="0.5s">
      <div class="text-center">
        <h2>Notice.</h2>
      </div>
      <div class="lead">
        The more notice, the better! It takes us days to mix, cut and bake, make frosting, decorate, and package. We require at least a minimum of 7 days   notice. If you do have a last minute rush order, feel free to contact us and we can always see if we can make it work! We do, however, charge an additional fee for rush orders.
      </div>
    </div>
    <div class="col-sm-4 wow bounceInDown" data-wow-delay="0.8s">
      <div class="text-center">
        <h2>Shipping.</h2>
      </div>
      <div class="lead">
        Yes. We do ship! It stresses us out, but we'll do it! Just for you! We package our cookies as carefully as we can and pray they make it to you in one piece. All orders go out priority 2-day to ensure freshness! S & H fees depend on how many cookies you order and typically start at about $15 for about 2-3 dozen. 
      </div>
    </div>
  </div>
</div>  

<!-- ============== CONTACT ============== -->

<div id="5" class="page container">
  <a name="contacts"></a>
  <h1>Contact Us</h1>
  <div id="success" class="alert alert-success wow fadeIn" data-wow-delay="0.4s" role="alert">
    <div class="lead">Message sent!</div>
  </div>




</div>



<!-- ============== FOOTER ============== -->
  <div>
    <div id="footer" class="hidden footer container wow">
      <p>&copy; Copyright 2015 - Sweet Divas Cookies. All rights reserved.</p>
    </div>
  </div>

</body>
</html>
